.order{
    margin:20px 0;
    padding: 40px;
    position:relative;
    background-color:white;
    border:1px solid lightgray;
}


.order_id{
    position:absolute;
    top:40px;
    right:20px
}

.order_total{
font-weight:500;
text-align:right;
}